/* CONFIGURAÇÕES GLOBAIS */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

a,
span,
h1,
h2,
h3,
h4,
ul,
li,
form,
input,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

button,
input {
  border-radius: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
}

/* CONTAINER ESTRUTURA */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ROOT */

:root {
  --font-calistoga: "Calistoga";
  --font-15: 0.9375rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-24: 1.5rem;
  --font-32: 2rem;
  --font-36: 2.25rem;
  --font-76: 4.5rem;
  --bg-black: #141414;
  --bg-grey: #1f1f1f;
  --bg-grey-pale: #2b2b2b;
  --text-color-white: #fff;
  --color-orange: #fe6a0f;
}

/* HEADER  */

.header {
  background: var(--bg-black);
}

.header-estrutura {
  display: flex;
  align-items: center;
}

.header-estrutura ul {
  display: flex;
  gap: 30px;
}

.header-estrutura ul li a {
  color: var(--text-color-white);
  display: block;
  padding: 12px 20px;
  font-size: var(--font-18);
}

.header-estrutura ul li a:hover {
  color: #999;
}

.menu-lateral-mobile .line {
  width: 30px;
  height: 3px;
  background: var(--text-color-white);
  margin-top: 8px;
}

.header-estrutura .menu-lateral-mobile {
  display: none;
  padding: 0 20px;
}

/* LOGO  */

.header-estrutura .logo {
  margin-right: 50px;
}

.logo a {
  color: var(--text-color-white);
  font-family: var(--font-calistoga);
  font-size: var(--font-36);
  padding: 45px 20px;
}

.logo span {
  color: var(--color-orange);
  margin: 0 10px;
}

/* MENU  */

.menu {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.menu .button {
  display: block;
  color: var(--text-color-white);
  border: 1px solid var(--text-color-white);
  padding: 15px 40px;
  border-radius: 5px;
  margin: 0 20px;
  font-size: var(--font-18);
}

.menu .button:hover {
  border-color: #999;
  color: #999;
}

/* MOBILE HEADER */

@media (max-width: 1020px) {
  .header .menu {
    display: none;
  }
  .header-estrutura {
    justify-content: space-between;
  }

  .header-estrutura .menu-lateral-mobile {
    display: block;
  }

  .header-estrutura .logo a {
    padding: 30px 20px;
  }
}

/* HAMBURGUER DELICIOSO */

.hero {
  background: var(--bg-black);
  box-shadow: inset 0 -80px var(--bg-grey);
}

.hero-estrutura {
  display: flex;
}

.hero-conteudo {
  padding: 0 20px;
  flex: 1;
}

.hero-estrutura h1 {
  font-size: var(--font-76);
  font-family: var(--font-calistoga);
  line-height: 80px;
  color: var(--text-color-white);
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero-estrutura p {
  max-width: 500px;
  color: var(--text-color-white);
  font-size: var(--font-18);
  margin-bottom: 40px;
}

.hero-estrutura a {
  display: block;
  max-width: max-content;
  background: var(--color-orange);
  padding: 15px 80px;
  color: var(--text-color-white);
  border-radius: 5px;
  font-size: var(--font-18);
}

.hero-estrutura a:hover {
  background: #d9560c;
}

.hero-img {
  flex: 1;
  justify-items: center;
}

.hero-img img {
  width: auto;
  height: 600px;
}

/* RESPONSIVIDADE HAMBURGUER */

@media (max-width: 1020px) {
  .hero {
    box-shadow: none;
  }
}

@media (max-width: 720px) {
  .hero-estrutura {
    flex-direction: column;
  }

  .hero-conteudo {
    justify-content: center;
  }

  .hero-conteudo h1 {
    text-align: center;
  }

  .hero-conteudo p {
    text-align: center;
    max-width: initial;
  }

  .hero-conteudo a {
    margin: 0 auto;
  }

  .hero-estrutura a {
    margin-bottom: 50px;
  }

  .hero-img {
    margin-bottom: 30px;
  }

  .hero-img img {
    height: 500px;
  }
}

@media (max-width: 480px) {
  .hero-img img {
    height: 350px;
  }

  .hero-conteudo h1 {
    font-size: 2.75rem;
    line-height: 55px;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .hero-conteudo p {
    font-size: 1.2rem;
  }
}

/* HAMBURGUER PESQUISA */

.pesquisa-bg {
  background: var(--bg-grey);
  padding-bottom: 40px;
}

.pesquisa {
  padding: 20px 0;
  margin-bottom: 10px;
}

.pesquisa h1 {
  color: var(--text-color-white);
  font-weight: 200;
  margin: 0 20px;
}

form {
  display: block;
  display: flex;
  justify-content: space-between;
}

.pesquisa-conteudo input {
  flex: 1;
  margin: 0 20px;
  padding: 20px 60px;
  width: 100%;
  border: none;
  background: var(--bg-grey-pale);
  border-radius: 5px;
  background-image: url(../searchIcon.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  font-size: var(--font-24);
  color: var(--text-color-white);
}

.pesquisa-conteudo input::placeholder {
  font-size: var(--font-24);
  color: #999;
}

.pesquisa-conteudo select {
  width: 100%;
  margin: 0 20px;
  padding: 20px 60px;
  flex: 1;
  border: none;
  background: var(--bg-grey-pale);
  border-radius: 5px;
  font-size: var(--font-24);
  color: var(--text-color-white);
  border-right: 20px solid transparent;
}

/* RESPONSIVIDADE PESQUISA  */

@media (max-width: 1020px) {
  .pesquisa {
    padding: 70px 0 30px;
  }
}

@media (max-width: 720px) {
  .pesquisa-conteudo {
    flex-direction: column;
    gap: 20px;
  }

  .pesquisa-conteudo select,
  .pesquisa-conteudo input {
    width: initial;
  }
}

/* HAMBURGUERS */

.area-hamburguer {
  background: var(--bg-black);
}

.area-hamburguer-estrutura {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px 20px;
}

.area-hamburguer-geral {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.area-hamburguer-geral::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.area-hamburguer-geral:hover::after {
  opacity: 1;
}

.area-hamburguer-img {
  padding: 20px 0;
  background: var(--bg-grey-pale);
  border-radius: 10px 10px 0 0;
  justify-items: center;
  box-shadow: inset 0 -60px var(--bg-grey);
}

.area-hamburguer-geral {
  position: relative;
}

.promocao::before {
  display: block;
  position: absolute;
  content: "Promoção";
  background: var(--color-orange);
  padding: 10px 30px;
  border-radius: 5px;
  color: var(--text-color-white);
  left: 20px;
  margin-top: 20px;
}

.area-hamburguer-valores {
  background: var(--bg-grey);
  border-radius: 0 0 10px 10px;
  padding: 0 30px 30px;
}

.area-hamburguer-valores span {
  color: var(--text-color-white);
  font-size: var(--font-18);
}

.area-hamburguer-valores .valores {
  color: var(--color-orange);
  font-size: var(--font-32);
  font-weight: 600;
}

.area-hamburguer-valores h2 {
  font-size: var(--font-32);
  color: var(--text-color-white);
  margin-bottom: 12px;
  margin-top: 12px;
  font-family: var(--font-calistoga);
}

/* RESPONSIVIDADE HAMBURGUERS  */

@media (max-width: 820px) {
  .area-hamburguer-estrutura {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  .area-hamburguer-estrutura {
    grid-template-columns: 1fr;
  }
}

/* FOOTER  */

.footer {
  background: var(--bg-grey);
}

.footer-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.footer .conteudo span {
  color: var(--text-color-white);
  font-size: var(--font-20);
  margin: 0px 20px;
}

/* RESPONSIVIDADE FOOTER  */

@media (max-width: 560px) {
  .footer-cont {
    flex-direction: column;
  }

  .footer-cont a {
    padding: 0 20px;
    margin-bottom: 30px;
  }
}
