/* CONFIGURAÇÕES GLOBAIS */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

a,
span,
h1,
h2,
h3,
h4,
ul,
li,
form,
input,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

button,
input {
  border-radius: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

/* CONTAINER ESTRUTURA */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ROOT */

:root {
  --font-calistoga: "Calistoga";
  --font-15: 0.9375rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-24: 1.5rem;
  --font-36: 2.25rem;
  --bg-black: #141414;
  --bg-grey: #1f1f1f;
  --bg-grey-pale: #2b2b2b;
  --text-color-white: #fff;
  --color-orange: #fe6a0f;
}

/* HEADER  */

.header {
  background: var(--bg-black);
}

.header-estrutura {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-estrutura ul {
  display: flex;
  gap: 30px;
}

.header-estrutura ul li a {
  color: var(--text-color-white);
  display: block;
  padding: 12px 20px;
  font-size: var(--font-18);
}

/* LOGO  */

.logo a {
  color: var(--text-color-white);
  font-family: var(--font-calistoga);
  font-size: var(--font-36);
  padding: 35px 20px;
  margin-right: 60px;
}

.logo span {
  color: var(--color-orange);
  margin: 0 10px;
}

/* MENU  */

.menu {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.menu .button {
  display: block;
  color: var(--text-color-white);
  border: 1px solid var(--text-color-white);
  padding: 15px 40px;
  border-radius: 4px;
  margin: 0 20px;
  font-size: var(--font-18);
}
